
.trialMode  { padding: 10px; border: 1px solid black; width: 95%; background: #dddddd; }

div.workflow { margin-top: 15px; }

table.workflow { width: 95%; }

table.workflow th, td { padding: 8px;  }
table.workflow th { background-color: #cccccc; }