<section alias="Workflow Content">
  <areas>
    <area>content</area>
  </areas>
  <tab caption="Workflows">
    <control>
      /usercontrols/fmworkflow/Instances.ascx
    </control>
  </tab>
  <tab caption="My Recent Content">
    <control>
      /usercontrols/fmworkflow/RecentContent.ascx
    </control>
  </tab>
</section>