<section alias="Workflow Developer">
  <areas>
    <area>developer</area>
  </areas>
  <tab caption="Workflow Configuration">
    <control>
      /usercontrols/fmworkflow/Configuration.ascx
    </control>
  </tab>
  <tab caption="Workflow Instantiation">
    <control>
      /usercontrols/fmworkflow/InstantiationCriteria.ascx
    </control>
  </tab>
</section>