<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

  <object id="WorkflowConfigurationFactory"
        type="Moriyama.Workflow.Domain.Factory.WorkflowConfigurationFactory, Moriyama.Workflow"
        factory-method="get_Instance"/>

  <object id="WorkflowInstantiationCriteriaFactory"
       type="Moriyama.Workflow.Umbraco6.Domain.Factory.UmbracoWorkflowInstantiationCriteriaFactory, Moriyama.Workflow.Umbraco6"
       factory-method="get_Instance">

  </object>

  <object id="WorkflowTaskFactory"
       type="Moriyama.Workflow.Domain.Factory.WorkflowTaskFactory, Moriyama.Workflow"
       factory-method="get_Instance"/>

  <object id="EventInformationCollectionFactory"
    type="Moriyama.Workflow.Domain.Event.Factory.EventInformationCollectionFactory, Moriyama.Workflow"
    factory-method="get_Instance"/>
  
  
  
</objects>