<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">


  
  <object type="~/Workflow//TabRefresh.ascx" abstract="true">
    <property name="TheHelper" ref="Helper"/>
  </object>
  
  <object type="~/Workflow//Configuration.ascx" abstract="true">
    <property name="TheHelper" ref="Helper"/>
    <property name="TheWorkflowConfigurationService" ref="WorkflowConfigurationService"/>
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
    <property name="TheWorkflowRuntime" ref="WorkflowRuntime"/>
  </object>

  <object type="~/Workflow//Instances.ascx" abstract="true">
    <property name="TheWorkflowInstanceService" ref="WorkflowInstanceService"/>
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
    <property name="TheWorkflowRuntime" ref="WorkflowRuntime"/>
  </object>

  <object type="~/Workflow//RecentContent.ascx" abstract="true">
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
  </object>

  <object type="~/Workflow/AllRecentContent.ascx" abstract="true">
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
  </object>

  <object type="~/Workflow/Transition.aspx">
    <property name="TheTransitionService" ref="TransitionService"/>
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
  </object>


  <object type="~/Workflow/Approval/UrlTask.aspx">
    <property name="TheWorkflowInstanceService" ref="WorkflowInstanceService"/>
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
    <property name="TheWorkflowRuntime" ref="WorkflowRuntime"/>
  </object>

  <object type="~/Workflow/Approval/RestartTask.aspx">
    <property name="TheWorkflowInstanceService" ref="WorkflowInstanceService"/>
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
    <property name="TheWorkflowRuntime" ref="WorkflowRuntime"/>
  </object>

  <object type="~/Workflow/EditConfigurationProperties.aspx">
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
    <property name="TheWorkflowConfigurationService" ref="WorkflowConfigurationService"/>
    <property name="TheWorkflowEntityUiResolver" ref="WorkflowEntityUiResolver"/>
  </object>

  <object type="~/Workflow//InstantiationCriteria.ascx">
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
    <property name="TheWorkflowInstantiationCriteriaService" ref="WorkflowInstantiationCriteriaService"/>
  </object>

  <object type="~/Workflow/EditInstantiationCriteria.aspx">
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
    <property name="TheWorkflowInstantiationCriteriaService" ref="WorkflowInstantiationCriteriaService"/>
    <property name="TheWorkflowEntityUiResolver" ref="WorkflowEntityUiResolver"/>
    <property name="TheEventService" ref="EventService"/>
  </object>

  <object type="~/Workflow/Runtime.aspx">
    <property name="TheWorkflowRuntime" ref="WorkflowRuntime"/>
  </object>

  <object type="~/Workflow/EditDesign.aspx">
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
    <property name="TheUiWorkflowTaskCollectionFactory" ref="UiWorkflowTaskCollectionFactory"/>

    <property name="TheTransitionInfoCollectionFactory" ref="TransitionInfoCollectionFactory"/>
    <property name="TheTaskInfoCollectionFactory" ref="TaskInfoCollectionFactory"/>

    <property name="ThePointService" ref="PointService"/>
    <property name="TheWorkflowConfigService" ref="WorkflowConfigurationService"/>

    <property name="ThePointCollectionFactory" ref="PointCollectionFactory"/>
    <property name="TheWorkflowTaskFactory" ref="WorkflowTaskFactory"/>

    <property name="TheHelper" ref="Helper"/>
    <property name="TheGuidPool" ref="GuidPool"/>
  </object>

  <object type="~/Workflow/EditTaskProperties.aspx">
    <property name="TheHelper" ref="Helper"/>
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
    <property name="TheTaskFactory" ref="WorkflowTaskFactory"/>
    <property name="TheWorkflowEntityUiResolver" ref="WorkflowEntityUiResolver"/>
  </object>

  <object type="~/Workflow/SendToWorkflow.aspx">
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
    <property name="TheWorkflowInstantiationCriteriaService" ref="WorkflowInstantiationCriteriaService"/>
    <property name="TheWorkflowInstanceService" ref="WorkflowInstanceService"/>
    <property name="TheCriteriaValidationService" ref="TheCriteriaValidationService"/>
    <property name="TheWorkflowConfigurationService" ref="WorkflowConfigurationService"/>
    <property name="TheWorkflowRuntime" ref="WorkflowRuntime"/>
  </object>

</objects>