<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

  <object name="GlobalisationEnglish" type="System.Collections.Generic.Dictionary&lt;string,string&gt;">
    <constructor-arg>
      <dictionary key-type="string" value-type="string">
        
        
        <entry key="active">
          <value>Active</value>
        </entry>
        <entry key="allow_manual_instantiation">
          <value>Allow Manual Instantiation</value>
        </entry>
        <entry key="approve">
          <value>Approve</value>
        </entry>
        <entry key="attachments">
          <value>Attachments</value>
        </entry>
        
        
        
        
        <entry key="cancel_instantiating_event">
          <value>Cancel Instantiating Event</value>
        </entry>
        <entry key="close_without_saving">
          <value>Close Without Saving</value>
        </entry>
        <entry key="contains_docs">
          <value>Contains Docs</value>
        </entry>
        <entry key="contains_media">
          <value>Contains Media</value>
        </entry>
        <entry key="create_a_workflow">
          <value>Create A Workflow</value>
        </entry>
        <entry key="create_new_criteria">
          <value>Create New Criteria</value>
        </entry>
        <entry key="create_workflow_configuration">
          <value>Create Workflow Configuration</value>
        </entry>
        <entry key="criteria_criteria">
          <value>Criteria Criteria</value>
        </entry>
        <entry key="criteria_operand">
          <value>Criteria Operand</value>
        </entry>
        <entry key="current_task">
          <value>Current Task</value>
        </entry>
        
        
        
        
        
        <entry key="days">
          <value>Days</value>
        </entry>
        <entry key="debug_information">
          <value>Debug Information</value>
        </entry>
        <entry key="delay_finished">
          <value>Delay Finished</value>
        </entry>
        <entry key="delay_task">
          <value>Delay Task</value>
        </entry>
        <entry key="delete">
          <value>Delete</value>
        </entry>
        <entry key="description">
          <value>Description</value>
        </entry>
        <entry key="document_types">
          <value>Document Types</value>
        </entry>
        <entry key="does_not_contain_docs">
          <value>Does Not Contain Docs</value>
        </entry>
        <entry key="does_not_contain_media">
          <value>Does Not Contain Media</value>
        </entry>
        <entry key="drag_and_drop_tasks">
          <value>Drag And Drop Tasks</value>
        </entry>


        <entry key="edit">
          <value>Edit</value>
        </entry>
        <entry key="edit_criteria">
          <value>Edit Criteria</value>
        </entry>
        <entry key="edit_design">
          <value>Edit Design</value>
        </entry>
        <entry key="edit_properties">
          <value>Edit Properties</value>
        </entry>
        <entry key="email_body">
          <value>Email Body</value>
        </entry>

        <entry key="email_instantiator">
          <value>Email Instantiator? (starter)</value>
        </entry>

        <entry key="email_owners">
          <value>Email Attached node owners?</value>
        </entry>
        
        <entry key="email_sent">
          <value>Email Sent</value>
        </entry>
        <entry key="email_task">
          <value>Email Task</value>
        </entry>
        <entry key="end_task">
          <value>End Task</value>
        </entry>

        


        <entry key="filter_docs_task">
          <value>Filter Docs Task</value>
        </entry>
        <entry key="filter_media_task">
          <value>Filter Media Task</value>
        </entry>
        <entry key="from">
          <value>From</value>
        </entry>
        
        
        
        <entry key="group_decision">
          <value>Group Decision</value>
        </entry>
        
        
        
        
        <entry key="hour">
          <value>Hour</value>
        </entry>
        <entry key="hours">
          <value>Hours</value>
        </entry>



        <entry key="id">
          <value>ID</value>
        </entry>
        <entry key="instantiating_events">
          <value>Instantiating Events</value>
        </entry>

        <entry key="instantiation_comment">
          <value>Instantiation Comment</value>
        </entry>
        
        <entry key="instantiation_criteria">
          <value>Instantiation Criteria</value>
        </entry>
        <entry key="instantiation_time">
          <value>Instantiation Time</value>
        </entry>
        <entry key="instantiator">
          <value>Instantiator</value>
        </entry>
        <entry key="interval">
          <value>Interval</value>
        </entry>
        <entry key="is_configuration_active">
          <value>Is Configuration Active</value>
        </entry>
        <entry key="is_start_task">
          <value>Is Start Task</value>
        </entry>
        
        
        <entry key="locked">
          <value>Locked</value>
        </entry>
        
        
        <entry key="media_types">
          <value>Media Types</value>
        </entry>
        <entry key="minute">
          <value>Minute</value>
        </entry>
        <entry key="minutes">
          <value>Minutes</value>
        </entry>
        <entry key="modified">
          <value>Modified</value>
        </entry>


        <entry key="n_a">
          <value>N/A</value>
        </entry>
        <entry key="name">
          <value>Name</value>
        </entry>
        <entry key="new_instantiation_criteria">
          <value>New Instantiation Criteria</value>
        </entry>
        <entry key="new_workflow">
          <value>New Workflow</value>
        </entry>
        
        <entry key="no_comment_supplied">
          <value>No comment supplied</value>
        </entry>
        
        <entry key="no_valid_workflow_instantiation_criteria">
          <value>No Valid Workflow Instantiation Criteria</value>
        </entry>
        
        
        <entry key="only_one_config_in_trial">
          <value>You may only create one configuration while running in trial mode</value>
        </entry>



        <entry key="preview">
          <value>Preview</value>
        </entry>
        <entry key="publish_documents">
          <value>Publish Documents</value>
        </entry>
        <entry key="published">
          <value>Published</value>
        </entry>
        
        
        
        <entry key="reject">
          <value>Reject</value>
        </entry>
        <entry key="run_workflows">
          <value>Run Workflows</value>
        </entry>
        <entry key="running">
          <value>Running</value>
        </entry>
        
        
        
        
        <entry key="save_criteria">
          <value>Save Criteria</value>
        </entry>
        <entry key="save_design_and_close">
          <value>Save Design And Close</value>
        </entry>
        <entry key="save_properties">
          <value>Save Properties</value>
        </entry>
        <entry key="save_task_properties">
          <value>Save Task Properties</value>
        </entry>
        <entry key="select_one_or_more_items">
          <value>Select One Or More Items</value>
        </entry>
        <entry key="seconds">
          <value>Seconds</value>
        </entry>
        <entry key="send_selected_content_to_workflow">
          <value>Send Selected Content To Workflow</value>
        </entry>
        <entry key="send_to_workflow">
          <value>Send To Workflow</value>
        </entry>
        <entry key="subject">
          <value>Subject</value>
        </entry>
        
        
        
        <entry key="task_name">
          <value>Task Name</value>
        </entry>
        <entry key="template">
          <value>Template</value>
        </entry>
        <entry key="template_email_task">
          <value>Template Email Task</value>
        </entry>
        <entry key="template_email_task_media_attached">
          <value>Template Email Task Media Attached</value>
        </entry>
        <entry key="this_workflow_cannot_be_transitioned">
          <value>This Workflow Cannot Be Transitioned</value>
        </entry>
        <entry key="time_unit">
          <value>Time Unit</value>
        </entry>
        <entry key="transition">
          <value>Transition</value>
        </entry>
        <entry key="transtion">
          <value>Transtion</value>
        </entry>
        <entry key="transtion_comment">
          <value>Transtion Comment</value>
        </entry>
        <entry key="trial_mode">
          <value>Workflow is in trial mode - features are restricted</value>
        </entry>
        <entry key="type">
          <value>Type</value>
        </entry>
        
        
        <entry key="umbraco_workflow_instantiation_criteria">
          <value>Umbraco Workflow Instantiation Criteria</value>
        </entry>
        <entry key="user_decision">
          <value>User Decision</value>
        </entry>
        <entry key="user_types">
          <value>User Types</value>
        </entry>
        <entry key="users">
          <value>Users</value>
        </entry>
        
        
        <entry key="wait_until_time">
          <value>Wait Until Time</value>
        </entry>
        <entry key="was_started">
          <value>Was Started</value>
        </entry>
        <entry key="workflow">
          <value>Workflow</value>
        </entry>
        <entry key="workflow_config">
          <value>Workflow Config</value>
        </entry>
        <entry key="workflow_configuration">
          <value>Workflow Configuration</value>
        </entry>

        <entry key="workflow_duplicate">
          <value>Workflow Duplicate</value>
        </entry>

        <entry key="workflow_duplicate_message">
          <value>The requested action could not be performed as one or more items are attached to a workflow</value>
        </entry>

        <entry key="workflow_started">
          <value>Workflow Started</value>
        </entry>

      </dictionary>
    </constructor-arg>
  </object>
  


</objects>