<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

  <object id="Storage"
        type="Moriyama.Workflow.Umbraco6.Web.Ui.Infrastructure.Storage.AppDataFileStorage, FergusonMoriyama.Umbraco4.Workflow"
        factory-method="get_Instance"/>

  <object id="DatabaseHelperFactory"
        type="Moriyama.Workflow.Infrastructure.DatabaseHelper.Factory.DatabaseHelperFactory, FergusonMoriyama.Workflow"
        factory-method="get_Instance"/>

  <object id="DatabaseHelper"
          type="Moriyama.Workflow.Interfaces.Infrastructure.IDatabaseHelper, FergusonMoriyama.Workflow"
          factory-method="CreateDatabaseHelper"
          factory-object="DatabaseHelperFactory">
    <constructor-arg value="Moriyama.Workflow.Infrastructure.DatabaseHelper.SqlServerDatabaseHelper, FergusonMoriyama.Workflow"/>
    <property name="ConnectionStringProvider" ref="ConnectionStringProvider"/>
  </object>
  
  
  <object id="ConnectionStringProvider"
        type="Moriyama.Workflow.Umbraco6.Application.Infrastructure.UmbracoConnectionStringProvider, FergusonMoriyama.Umbraco4.Workflow"
        factory-method="get_Instance"/>

  <object id="WorkflowConfigurationRepository"
        type="Moriyama.Workflow.Infrastructure.WorkflowConfigurationRepository, FergusonMoriyama.Workflow"
        factory-method="get_Instance">
    <property name="Storage" ref="Storage"/>
    <property name="DatabaseHelper" ref="DatabaseHelper"/>
  </object>

  <object id="WorkflowInstantiationCriteriaRepository"
          type="Moriyama.Workflow.Infrastructure.WorkflowInstantiationCriteriaRepository, FergusonMoriyama.Workflow"
          factory-method="get_Instance">
    <property name="Storage" ref="Storage"/>
    <property name="DatabaseHelper" ref="DatabaseHelper"/>
  </object>

  <object id="WorkflowInstanceRepository"
            type="Moriyama.Workflow.Infrastructure.WorkflowInstanceRepository, FergusonMoriyama.Workflow"
            factory-method="get_Instance">
    <property name="Storage" ref="Storage"/>
    <property name="DatabaseHelper" ref="DatabaseHelper"/>
  </object>

  <object id="WorkflowDesignerPointRespository"
              type="Moriyama.Workflow.Infrastructure.WorkflowDesignerPointRespository, FergusonMoriyama.Workflow"
              factory-method="get_Instance">
    <property name="DatabaseHelper" ref="DatabaseHelper"/>
  </object>
  
</objects>