<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

  <object id="springApplicationEventListener" type="Moriyama.Workflow.Umbraco6.Application.SpringApplicationEventListener, FergusonMoriyama.Umbraco4.Workflow"/>

  <object id="GuidPool"
        type="Moriyama.Workflow.Application.GuidPool, FergusonMoriyama.Workflow"
        factory-method="get_Instance"/>

  <object id="GlobalisationService"
      type="Moriyama.Workflow.Application.Globalisation.GlobalisationService, FergusonMoriyama.Workflow"
      factory-method="get_Instance">
    <property name="Cultures" ref="GlobalisationInformation"/>
  </object>

  <object id="Helper"
       type="Moriyama.Workflow.Application.Reflection.Helper, FergusonMoriyama.Workflow"
       factory-method="get_Instance">
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
  </object>

  <object id="WorkflowConfigurationService"
      type="Moriyama.Workflow.Application.WorkflowConfigurationService, FergusonMoriyama.Workflow"
      factory-method="get_Instance">
    <property name="ConfigurationRepository" ref="WorkflowConfigurationRepository"/>
    <property name="WorkflowConfigurationFactory" ref="WorkflowConfigurationFactory"/>
  </object>

  <object id="WorkflowInstantiationCriteriaService"
     type="Moriyama.Workflow.Application.WorkflowInstantiationCriteriaService, FergusonMoriyama.Workflow"
     factory-method="get_Instance">

    <property name="TheWorkflowInstantiationCriteriaFactory" ref="WorkflowInstantiationCriteriaFactory"/>
    <property name="TheWorkflowInstantiationCriteriaRepository" ref="WorkflowInstantiationCriteriaRepository"/>
  </object>

  <object id="EventInformation"
          type="Moriyama.Workflow.Interfaces.Domain.Event.IEventInformationCollection, FergusonMoriyama.Workflow"
          factory-method="Create"
          factory-object="EventInformationCollectionFactory"/>

  <object id="EventInfoService"
      type="Moriyama.Workflow.Application.EventInfoService, FergusonMoriyama.Workflow"
      factory-method="get_Instance">

    <property name="EventInformation" ref="EventInformation"/>
    
  </object>

  <object id="WorkflowRuntime" type="Moriyama.Workflow.Application.Runtime.WorkflowRuntime, FergusonMoriyama.Workflow"
    factory-method="get_Instance">
    <property name="TheWorkflowInstanceRepository" ref="WorkflowInstanceRepository"/>
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
  </object>
  
  <object id="WorkflowInstanceService"
      type="Moriyama.Workflow.Application.WorkflowInstanceService, FergusonMoriyama.Workflow"
      factory-method="get_Instance">
    <property name="TheWorkflowRuntime" ref="WorkflowRuntime"/>
    <property name="TheWorkflowInstanceRepository" ref="WorkflowInstanceRepository"/>
    <property name="TheConfigurationRepository" ref="WorkflowConfigurationRepository"/>

  </object>

  <object id="TheCriteriaValidationService"
          type="Moriyama.Workflow.Umbraco6.Application.UmbracoWorkflowInstantiationCriteriaValidationService, FergusonMoriyama.Umbraco4.Workflow" 
          factory-method="get_Instance"/>

  <object id="EventService"
      type="Moriyama.Workflow.Umbraco6.Application.UmbracoEventService, FergusonMoriyama.Umbraco4.Workflow"
      factory-method="get_Instance">
    <property name="TheWorkflowInstantiationCriteriaService" ref="WorkflowInstantiationCriteriaService"/>
    <property name="TheEventInfoService" ref="EventInfoService"/>
    <property name="TheWorkflowInstanceService" ref="WorkflowInstanceService"/>
    <property name="TheCriteriaValidationService" ref="TheCriteriaValidationService"/>
    <property name="TheWorkflowRuntime" ref="WorkflowRuntime"/>
    <property name="TheHelper" ref="Helper"/>
    <property name="TheGlobalisationService" ref="GlobalisationService"/>
  </object>
  
  <object id="PointService"
      type="Moriyama.Workflow.Application.PointService, FergusonMoriyama.Workflow"
      factory-method="get_Instance">
    <property name="ServiceWorkflowDesignerPointRespository" ref="WorkflowDesignerPointRespository"/>

  </object>

  <object id="TransitionService"
      type="Moriyama.Workflow.Application.Runtime.WorkflowTaskTransitionService, FergusonMoriyama.Workflow"
      factory-method="get_Instance">
    <property name="TheWorkflowInstanceService" ref="WorkflowInstanceService"/>
    <property name="TheWorkflowEntityUiResolver" ref="WorkflowEntityUiResolver"/>
    <property name="TheWorkflowRuntime" ref="WorkflowRuntime"/>
  </object>

</objects>