<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  
  <object name="GlobalisationInformation" type="System.Collections.Generic.Dictionary&lt;string,System.Collections.Generic.Dictionary&lt;string,string&gt;&gt;">
    <constructor-arg>
      <dictionary key-type="string" value-type="System.Collections.Generic.Dictionary&lt;string,string&gt;">
        <entry key="en-GB" value-ref="GlobalisationEnglish"/>
      </dictionary>
    </constructor-arg>
  </object>

</objects>