<?xml version="1.0" encoding="utf-8" ?>
<context>


  <resource uri="~/config/workflow.en-GB.spring.config"/>
  <resource uri="~/config/workflow.globalisation.spring.config"/>


  <resource uri="~/config/workflow.ui.spring.config"/>
  <resource uri="~/config/workflow.infrastructure.spring.config"/>
  <resource uri="~/config/workflow.domain.spring.config"/>
  <resource uri="~/config/workflow.application.spring.config"/>
  <resource uri="~/config/workflow.core.spring.config"/>



</context>
