@using FergusonMoriyam.Workflow.Interfaces.Domain
@model IList<IWorkflowInstantiationCriteria>
@{
    ViewBag.Title = "Index";
}
<h2>
    Workflow Instantiation Criteria</h2>
<form method="post" action="/WorkflowCriteria/Create">
<input type="submit" name="submit" id="submit" value="Create criteria" />
</form>
<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var criteria in @Model)
        {
            <tr>
                <td>
                    @criteria.Name  
                </td>
                <td>
                    <a href="/WorkflowCriteria/Edit/@criteria.Id">
                        Edit
                    </a>
                </td>
                <td>
                    <a href="/WorkflowCriteria/Delete/@criteria.Id">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
