<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <configSections>

    
  </configSections>

  <connectionStrings>

    <add name="WorkflowConnection" connectionString="Server=localhost;Database=workflow;User ID=workflow;Password=workflow;Trusted_Connection=False;" providerName="System.Data.SqlClient" />

  </connectionStrings>

</configuration>