<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT umbHomepage ANY>
<!ATTLIST umbHomepage id ID #REQUIRED>
<!ELEMENT umbTextpage ANY>
<!ATTLIST umbTextpage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomepage id="1050" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-08-18T13:53:28" updateDate="2014-11-10T09:02:18" nodeName="Simple website" urlName="simple-website" path="-1,1050" isDoc="" nodeType="1047" creatorName="Marc Admin" writerName="Marc Admin" writerID="0" template="1045">
    <siteName>Simple website</siteName>
    <siteDescription><![CDATA[Off to a great start]]></siteDescription>
    <bodyText><![CDATA[<p>The Simple Starter Kit gives you a bare-bones website that introduces you to a set of well-defined conventions for building an Umbraco website.</p>
<p>The Simple website is very basic in form and provided without any design or functionality - unless you add a Skin, of course. By installing the Simple Starter Kit, you'll begin with a minimal site built on best practices. You'll also enjoy the benefits of speaking the same "language" as the rest of the Umbraco community by using common properties and naming conventions.</p>
<p>Now that you know what the Simple site is, it is time to get started using Umbraco.</p>]]></bodyText>
    <umbTextpage id="1051" parentID="1050" level="2" creatorID="0" sortOrder="0" createDate="2014-08-18T13:53:28" updateDate="2014-10-31T16:30:01" nodeName="Installing modules" urlName="installing-modules" path="-1,1050,1051" isDoc="" nodeType="1048" creatorName="Marc Admin" writerName="Marc Admin" writerID="0" template="1046" nodeTypeAlias="umbTextpage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>Umbraco modules encapsulate specific bits of advanced functionality that are easily added to your website.</p>
<p>Once installed, Umbraco modules are open source and easy to customize if you want to modify the behavior for your specific needs.<br /> Because Umbraco modules are provided under the MIT license you are free to use and modify them any way you want, with no strings attached.</p>
<p>To add Umbraco modules to your website, go to the <strong>Settings</strong> section, expand the <strong>Templates</strong> item, select the <strong>Starterkit Master</strong> template, then click the <strong>Customize Skin</strong> button on the toolbar.</p>
<p>Umbraco modules are available for various kinds of navigation, a sitemap, social media feeds, and a contact form. The list of available Umbraco modules is growing rapidly and is automatically updated from a central source, always fresh and current.</p>
<p><a href="http://umbraco.org/get-started" title="Get Started with Umbraco">Get more information</a> about the umbraco way.</p>]]></bodyText>
    </umbTextpage>
    <umbTextpage id="1052" parentID="1050" level="2" creatorID="0" sortOrder="1" createDate="2014-08-18T13:53:28" updateDate="2014-11-10T09:02:21" nodeName="Go further" urlName="go-further" path="-1,1050,1052" isDoc="" nodeType="1048" creatorName="Marc Admin" writerName="Marc Admin" writerID="0" template="1046">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>The Simple Starter Kit only scratches the surface of what's possible with Umbraco. Below the Simple Starter Kit and its modules lies a great architecture that lets you implement whatever you need.</p>
<p>With Umbraco you've finally got a solid, open and reliable platform for websites as basic as the Simple site, and Umbraco can be rapidly expanded to support multi-language websites, collaboration platforms and intra/extranets, to name just a few.</p>
<p>Advanced functionality is created with Umbraco macros, built with XSLT and Umbraco's award-winning .NET integration, including full support for any .NET User or Custom control. Create and integrate your own .NET macros in mere minutes with point and click simplicity. Simply copy your controls to the Umbraco website, go to the <strong>Developer</strong> section and create a new macro, selecting your control from the list.</p>
<p>You can also use <a href="http://umbraco.org/help-and-support/video-tutorials/getting-started/working-with-webmatrix" title="Working with Razor">Microsoft's Razor</a> syntax to quickly add dynamic functionality to your site.</p>
<p>We've also gathered the best community macros into a repository that's also accessed from the <strong>Developer</strong> section, in the <strong>Packages</strong> area. You can find more information <a href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/what-are-macros" title="About creating Umbraco macros">about creating macros</a>, on the Umbraco website.</p>
<p>The sky is the limit with Umbraco, and you have the benefit a friendly community, training, and guaranteed support. Find out how to <a href="http://umbraco.org/help-and-support" title="Get Umbraco Support">get help</a>.</p>]]></bodyText>
    </umbTextpage>
    <umbTextpage id="1053" parentID="1050" level="2" creatorID="0" sortOrder="2" createDate="2014-08-18T13:53:28" updateDate="2014-11-10T09:02:24" nodeName="Getting started" urlName="getting-started" path="-1,1050,1053" isDoc="" nodeType="1048" creatorName="Marc Admin" writerName="Marc Admin" writerID="0" template="1046">
      <umbracoNaviHide>0</umbracoNaviHide>
      <bodyText><![CDATA[<p>You've installed Umbraco and the basic Simple website.</p>
<p>Edit the text on the homepage and create a site structure by adding new texpages to your site. This is all done in the <strong>Content</strong> section.</p>
<p>If you find the editing options provided by the Simple site too limited for you needs, simply add more properties to the page by going to the <strong>Settings</strong> section, expanding the <strong>Document Types</strong> item and adding new properties on the <strong>Generic Properties</strong> tab. You can find more information about <a href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/document-types" title="About Umbraco Document Types">document types and properties</a> at the <a href="http://umbraco.org" title="The Umbraco Website">Umbraco website</a>.</p>
<p>You'll probably want to personalize your site by changing the current design. This is also done in the <strong>Settings</strong> section, either by editing the CSS styles and HTML templates or by selecting and applying a Skin. Umbraco uses master templates, so the main, common markup is placed in the <strong>Starterkit Master</strong> template, while the Homeage and Textpage have separate templates for their unique layouts. You can find more information about <a href="http://umbraco.org/help-and-support/video-tutorials/introduction-to-umbraco/sitebuilder-introduction/templates" title="Umbraco Templates and Stylesheets">templates and css</a> in umbraco at the umbraco website.</p>
<p>Once you're happy with your site's design, you might want to add more functionality, such as automated navigation. This is done by <a href="http://umbraco.org/help-and-support/video-tutorials/getting-started" title="Umbraco Modules">installing Umbraco modules</a>.</p>]]></bodyText>
    </umbTextpage>
  </umbHomepage>
</root>